body { 		background: url(../images/confectionary.png); 
			width: 100%;
}
.btn{
			background-color: white; 			
			width: 60px;
			height: 60px;
			background-size: 60px 60px;
}
#green{
			background-image: url(../images/green.png);   
    		background-repeat: no-repeat; 
    		background-size: 58px 58px;   
}
#blue{
			background-image: url(../images/blue.png);   
    		background-repeat: no-repeat; 
    		background-size: 58px 58px;
}    		
#purple{
			background-image: url(../images/purple.png);   
    		background-repeat: no-repeat; 
    		background-size: 58px 58px;    		
}
#red{
			background-image: url(../images/red.png);   
    		background-repeat: no-repeat; 
    		background-size: 58px 58px;    		
}
#display{
	width: 100%;
	height: 60%;
}
#gameTitle{
	background-color: purple;
	margin: 2% 60% 0% 3%;
	padding: 3%;
	color: white;	
	font-style: bold;
	font-size: 20px;
	border-radius: 15px;
}
#rule {
	background-image: url(../images/mm.jpg);
	margin: 1% 0% 0% 3%;
	padding: 2% 3% 20% 3%;
	color:green;
	border-radius: 15px;
}
#randomSum{
	background-color: #7CCD7C;
	margin: 1% 0% 0% 3%;
	padding: 2% 17% 7% 2%;	
	color: black;
	font-size: 20px;
	float: left;	
	border-radius: 15px;
}
#status{
	background-color: #66CDAA;
	margin: 1% 60% 1% 0%;
	padding: 2% 3% 6% 2%;
	color: black;
	font-size: 12px;	
	float: right;
	border-radius: 15px;
}

#text{
	background-color: #458B74;
	margin: 1% 50% 0% 3%;
	padding: 1% 0% 1% 2%;
	border-radius: 15px;
}
#total{
	background-color: #458B74;
	margin: 1% 50% 3% 3%;
	padding: 1% 0% 10% 2%;
	color: white;
	font-size: 30px;
	border-radius: 15px;	
}


		